:root{
    --main-font-family: Raleway;
    --main-color: rgb(2, 2, 34);
    --pripary-color: rgb(13, 110, 253);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(320deg, rgb(41, 41, 255), rgb(201, 209, 255));
    height: 100vh;
}
header{
    height: 10vh;
    font-family: Playpen Sans;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    padding: 30px 30px;
    font-size: 25px;
    font-weight: 500;
    color: var(--main-color);
    column-gap: 150px;
}
nav div:hover{
    color: var(--pripary-color);
    transition: 0.3s all;
}

#user-modul{
    background-color: aliceblue;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
#user-modul div{
 margin: 0 auto;
 font-size: 20px;
 font-family: var(--main-font-family);
 color: var(--main-color);
 padding: 20px;
}
#user-modul button{
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
}
.container{
    width: 70vw;
    height: 100vh;
    background-color: rgb(247, 248, 249);
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.infonav{
    display: flex;
    justify-content: space-between;
}
.infonav div{
    margin: 20px;
}
.infonav button{
    height: 40px;
    margin: 20px;
}
#plus{
    padding-left: 10px;
}
.stories-container{
    border: 2px solid var(--main-color);
    margin: 30px auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.stories{
    width: 90%;
    height: 25%;
    border: 2px solid var(--main-color);
    margin: 30px auto 0 auto;
    border-radius: 10px;
    position: relative;
    font-family: Playpen Sans;
}
.storyhead{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.strhd-btns{
    display: flex;
    
}
.txtabout{
    margin: 10px 20px;
    max-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.data{
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.str-mdl-class{
    background-color: rgb(245, 248, 251); 
    border: 3px solid var(--main-color);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    row-gap: 10%;
    width: 970px;
    height: 700px;
    z-index: 2;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.story-modul-btns, .story-modul-head {
    display: flex;
    width: 900px;
    justify-content: space-between;
}
.story-modul-btns button{
    width: 100px;
}
#txtstory{
    width: 700px;
    min-height: 400px;
    max-height: 400px;
}
#opentxt{
    height: 400px;
}
#maintxt{
    max-width: 700px;
    max-height: 400px;
    word-break: break-all;
    overflow: auto;
}
.modul-txt{
    display: flex;
    column-gap: 30px;
    font-family: var(--main-font-family);
    font-size: 23px;
    color: var(--main-color);
}
.story-modul-head input{
    border-color: var(--pripary-color);
    border-radius: 5px;
}
.story-modul-head span{
    font-family: var(--main-font-family);
    color: var(--main-color);
    font-size: 18px;
}
textarea{
    border-color: var(--pripary-color);
}
/* #text-modul{
    display: flex;
} */
